@use 'lib' as *;

.artists {
	$self: &;
	padding-bottom: 124px;

	&__title.title {
		background-color: #f6af1b;
	}
	
	&__inner.container {
		max-width: 1140px;
	}
	
	&__item {
		display: flex;
		align-items: center;

		&:nth-child(even) {

			#{$self}__image {
				order: 1;
			}

			#{$self}__side::before {
				right: auto;
				left: 100%;
			}
		}
	}
	
	&__image {

		img {
			display: block;
		}
	}
	
	&__side {
		width: 420px;
		flex-shrink: 0;
		background-color: #f6af1b;
		padding: 60px 20px 40px 55px;
		position: relative;
		
		&::before {
			position: absolute;
			display: block;
			content: '';
			background-color: #f6af1b;
			height: 100px;
			width: 80px;
			top: 0;
			right: 100%;
		}
	}

	&__subtitle {
		font-size: 50px;
		font-weight: 700;
		line-height: 1.0;
		color: #000;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 19px;
	}
}