@use 'lib' as *;

.artists {
	$self: &;
	position: relative;

	&__decor {

		@include media('<=lg') {
			display: none;
		}

		&_1 {
			width: fluid(320px, 240px, xxxxlg, xxlg);
			left: calc(50% + fluid(740px, 550px, xxxxlg, xxlg));
			top: 110px;
		}
		
		&_2 {
			width: fluid(350px, 240px, xxxxlg, xxlg);
			right: calc(50% + fluid(650px, 520px, xxxxlg, xxlg));
			top: 500px;
		}
		
		&_3 {
			width: fluid(340px, 300px, xxxxlg, xxlg);
			left: calc(50% + 470px);
			top: 765px;
		}
		
		&_4 {
			width: 220px;
			right: calc(50% + fluid(800px, 560px, xxxxlg, xxlg));
			top: 1440px;
		}
		
		&_5 {
			width: fluid(360px, 280px, xxxxlg, xxlg);
			left: calc(50% + fluid(760px, 540px, xxxxlg, xxlg));
			top: calc(50% - 830px);
		}
		
		&_6 {
			width: 215px;
			right: calc(50% + fluid(700px, 580px, xxxxlg, xxlg));
			top: calc(50% - 320px);
		}
		
		&_7 {
			width: 195px;
			left: calc(50% + 515px);
			top: calc(50% - 320px);
		}
		
		&_8 {
			width: fluid(270px, 220px, xxxxlg, xxlg);
			right: calc(50% + 515px);
			top: calc(50% + 20px);
		}
		
		&_9 {
			width: fluid(270px, 220px, xxxxlg, xxlg);
			left: calc(50% + fluid(710px, 540px, xxxxlg, xxlg));
			top: calc(50% + 680px);
		}
		
		&_10 {
			width: fluid(415px, 320px, xxxxlg, xxlg);
			right: calc(50% + fluid(690px, 560px, xxxxlg, xxlg));
			bottom: 840px;
		}
		
		&_11 {
			width: fluid(170px, 130px, xxxxlg, xxlg);
			right: calc(50% + fluid(650px, 540px, xxxxlg, xxlg));
			bottom: 805px;
		}
		
		&_12 {
			width: fluid(150px, 130px, xxxxlg, xxlg);
			left: calc(50% + fluid(750px, 560px, xxxxlg, xxlg));
			bottom: 690px;
		}
		
		&_13 {
			bottom: 275px;
			width: fluid(265px, 200px, xxxxlg, xxlg);
			right: calc(50% + fluid(720px, 560px, xxxxlg, xxlg));
		}
		
		&_14 {
			width: fluid(190px, 150px, xxxxlg, xxlg);
			left: calc(50% + fluid(645px, 540px, xxxxlg, xxlg));
			bottom: 320px;
		}
	}
	
	&__title.title {
		background-color: #f6af1b;
	}
	
	&__inner {
		padding-bottom: 124px;
		position: relative;
		z-index: 2;
		
		@include media('<=md') {
			padding: 60px 0;
		}
		
		@include media('<=xxs') {
			padding: 35px 0;
		}

		&.container {
			@include media('<=xxs') {
				width: 100%;
			}
		}
	}
	
	&__item {
		display: flex;
		align-items: center;

		@include media('<=md') {
			align-items: stretch;
		}

		@include media('<=xxs') {
			flex-flow: column nowrap;
		}

		&:nth-child(even) {

			@include media('>xxs') {
				#{$self}__image {
					order: 1;
				}
	
				#{$self}__side::before {
					right: auto;
					left: 100%;
				}
			}

			@include media('<=xxs') {
	
				#{$self}__side::before {
					left: auto;
					right: 0;
				}
			}
		}
	}
	
	&__image {
		align-self: stretch;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	
	&__side {
		width: 420px;
		flex-shrink: 0;
		background-color: #f6af1b;
		padding: 60px 20px 40px 55px;
		position: relative;
		
		@include media('<=lg') {
			padding: 40px 30px;
		}
		
		@include media('<=md') {
			width: 50%;
		}
		
		@include media('<=xs') {
			padding: 30px 20px;
		}

		@include media('<=xxs') {
			width: auto;
		}
		
		&::before {
			position: absolute;
			z-index: 1;
			display: block;
			content: '';
			background-color: #f6af1b;
			aspect-ratio: 0.8;
			width: 80px;
			top: 0;
			right: 100%;
			
			@include media('<=md') {
				width: 50px;
			}
			
			@include media('<=xs') {
				width: 30px;
			}
			
			@include media('<=xxs') {
				width: 40px;
				left: 0;
				top: auto;
				right: auto;
				bottom: 100%;
			}
		}
	}

	&__subtitle {
		font-size: fluid(50px, 28px, md, xxs);
		font-weight: 700;
		line-height: 1.0;
		color: #000;
		margin-bottom: 15px;
	}

	&__text {
		font-size: fluid(19px, 13px, md, xs);
		
		@include media('<=xxs') {
			font-size: fluid(16px, 14px, xxs, xxxs);
		}
	}
}