@use 'lib' as *;

.news {
	$self: &;
	position: relative;
	padding-bottom: 125px;
	
	@include media('<=xxs') {
		padding-bottom: 35px;
	}
	
	&_post {
		padding-bottom: 200px;
		
		@include media('<=lg') {
			padding-bottom: 150px;
		}
		
		@include media('<=md') {
			padding-bottom: 130px;
		}
		
		@include media('<=xs') {
			padding-bottom: 60px;
		}
		
		@include media('<=xxs') {
			padding-bottom: 35px;
		}
	}

	&__decor {
		
		@include media('<=lg') {
			display: none;
		}

		&_1 {
			width: fluid(160px, 140px, xxxxlg, xxlg);
			left: calc(50% + fluid(880px, 620px, xxxxlg, xxlg));
			top: 100px;
		}
		
		&_2 {
			width: fluid(365px, 290px, xxxxlg, xxlg);
			right: calc(50% + fluid(775px, 550px, xxxxlg, xxlg));
			bottom: 130px;
		}
		
		&_3 {
			width: fluid(320px, 220px, xxxxlg, xxlg);
			left: calc(50% + fluid(700px, 520px, xxxxlg, xxlg));
			bottom: 135px;
		}
	}
	
	&__title.title {
		margin-bottom: 60px;
		
		&::before {
			background-color: #0e396c;
		}
		
		@include media('<=xxs') {
			margin-bottom: 35px;
		}
	}
	
	&__top {
		margin-bottom: 60px;
		background-color: #0e396c;
		
		@include media('<=xxs') {
			margin-bottom: 35px;
		}
	}

	&__cap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
		gap: 10px;

		&.container {
			--container: 980px;
		}

		h2 {
			font-size: fluid(111px, 32px);
			text-transform: uppercase;
			letter-spacing: 0.025em;
			line-height: 0.75;
			margin: -3px 0;

			@include media('<=xxs') {
				margin: 0 0 -2px;
			}

			span {
				display: block;
				font-weight: 300;
			}

			strong {
				display: block;
				font-weight: 700;
			}
		}

		a {
			font-weight: 300;
			color: #5796a4;
			font-size: fluid(25px, 15px);
		}
	}
	
	&__inner {
		position: relative;

		&.container {
			--container: 1260px;
		}
	}

	&__items.swiper {
		
		@include media('<=xs') {
			padding-top: 0;
			margin-left: calc(var(--gap) * -1);
			margin-right: calc(var(--gap) * -1);
			padding-left: var(--gap);
			padding-right: var(--gap);
		}

		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 24px;

			@include media('<=lg') {
				display: flex;
				grid-gap: 0;
			}
		}
	}

	&__item.swiper-slide {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		height: auto;

		&:first-child {
			align-items: flex-end;
		}
		
		&:last-child {
			align-items: flex-start;
		}

		&:nth-child(even) {
			
			#{$self}__body::before {
				@include media('<=xxs') {
					left: auto;
					right: 0;
				}
			}
		}
	}

	&__image {
		width: 100%;
		height: 235px;
		
		@include media('<=lg') {
			height: 200px;
		}
		
		@include media('<=sm') {
			height: 230px;
		}
		
		@include media('<=xs') {
			height: 200px;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__body {
		background-color: #cbedf3;
		width: calc(100% - 60px);
		padding: 40px 40px 23px;
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;

		@include media('<=xlg') {
			width: 100%;
			padding: fluid(30px, 16px, xlg, md);
		}
		
		&::before {
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			content: '';
			background-color: #cbedf3;
			aspect-ratio: 1.15;
			width: fluid(70px, 45px, xlg, sm);
		}
	}

	&__subtitle {
		font-size: fluid(20px, 16px, xlg, md);
		font-weight: 700;
		color: #000;
		
		@include media('<=xxs') {
			font-size: fluid(19px, 16px, xxs, xxxs);
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
	
	&__text {
		font-size: fluid(20px, 15px, xlg, md);
		text-decoration: none;
		margin-bottom: 20px;
		font-weight: 300;
		color: inherit;
		
		@include media('<=xs') {
			font-size: 13px;
		}

		@include media('<=xxs') {
			font-size: fluid(17px, 15px, xxs, xxxs);
		}
	}
	
	&__date {
		font-weight: 700;
		margin-top: auto;
		color: #000;
	}

	&__controls {
		display: none;

		@include media('<=lg') {
			display: block;
		}

		@include media('<=xxs') {
			display: none;
		}
	}

	&__control {
		@extend %reset-button;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;

		position: absolute;
		top: calc(50% - 25px);
		z-index: 2;

		&_prev {
			left: calc(var(--gap) * -1);
		}
		
		&_next {
			right: calc(var(--gap) * -1);
		}

		&.hidden {
			display: none;
		}

		&:disabled svg {
			fill: #9fdee8;
		}

		svg {
			transition: fill 0.3s;
			fill: #0e396c;
			aspect-ratio: 1;
			height: 55%;
		}
	}
}