@use 'lib' as *;

.pagination {
	$self: &;
	display: flex;
	align-items: center;
	justify-content: center;

	
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #0e396c;
		font-size: 20px;
		height: 40px;
		width: 40px;

		&.current {
			font-weight: 700;
		}
	}
	
	&__nav {
		width: 70px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		&_prev {
			justify-content: flex-start;
		}
		
		&_next {
			justify-content: flex-end;
		}

		svg {
			display: block;
			aspect-ratio: 1;
			fill: #0e396c;
			width: 28px;
		}

		&.disabled svg {
			fill: #cbedf3;
		}
	}
}