<footer class="footer" id="contact"> 
	<img class="footer__decor footer__decor_1 decor" src="./images/decor-31.svg" alt="">
	<div class="footer__cols container">
		<div class="footer__col">
			<div class="footer__item">
				<h2 class="footer__title">Гостям:</h2>
				<a class="footer__link" href="mailto:hello@karandashfest.ru">hello@karandashfest.ru</a>
			</div>
			<div class="footer__item">
				<div class="footer__text"><span>тел.</span> <a class="footer__link" href="tel:+74951111111">+7 495 111 11 11</a></div>
			</div>
			<div class="footer__num" data-moved=".footer__col_social, xs, last">6+</div>
		</div>
		<div class="footer__col">
			<div class="footer__item">
				<h2 class="footer__title">По вопросам участия:</h2>
				<div class="footer__text">
					Генеральный продюсер<br>
					Андрей Солдаткин
				</div>
				<a class="footer__link" href="mailto:soldatkin.moscow@gmail.com">soldatkin.moscow@gmail.com</a>
			</div>
			<div class="footer__item">
				<h2 class="footer__title">СМИ и блогеры:</h2>
				<div class="footer__text">
					PR-директор<br>
					Анна Карабаш
				</div>
				<a class="footer__link" href="mailto:karabashanna@gmail.com">karabashanna@gmail.com</a>
			</div>
		</div>
		<div class="footer__col footer__col_social social">
			<a class="social__link social__link_tgm" href="https://t.me/karandashfest">
				<svg><use xlink:href="#tgm"></use></svg>
			</a>
			<a class="social__link social__link_vkt" href="https://vk.com/karandashfest">
				<svg><use xlink:href="#vkt"></use></svg>
			</a>
		</div>
	</div>
</footer>

@@include("_sprite.svg")
<script src="common.js?v=0"></script> 
</body> 
</html>