<footer class="footer" id="contact"> 
	<img class="footer__dancer" src="./images/decor-31.svg" alt="">
	<div class="footer__cols container">
		<div class="footer__col">
			<div class="footer__item">
				<h2 class="footer__title">Гостям:</h2>
				<a class="footer__link" href="mailto:info@karandashfest.ru">info@karandashfest.ru</a>
			</div>
			<div class="footer__num" data-moved=".footer__col_social, sm, last">6+</div>
		</div>
		<div class="footer__col">
			<div class="footer__item">
				<h2 class="footer__title">По вопросам участия:</h2>
				<a class="footer__link" href="mailto:artists@karandashfest.ru">artists@karandashfest.ru</a>
			</div>
		</div>
		<div class="footer__col">
			<div class="footer__item">
				<h2 class="footer__title">СМИ и блогеры:</h2>
				<a class="footer__link" href="mailto:pr@karandashfest.ru">pr@karandashfest.ru</a>
			</div>
		</div>
		<div class="footer__col footer__col_social social">
			<a class="social__link social__link_tgm" href="https://t.me/karandashfest">
				<svg><use xlink:href="#tgm"></use></svg>
			</a>
			<a class="social__link social__link_vkt" href="https://vk.com/karandashfest">
				<svg><use xlink:href="#vkt"></use></svg>
			</a>
			<a class="social__link social__link_ins" href="./">
				<svg><use xlink:href="#ins"></use></svg>
			</a>
		</div>
	</div>
</footer>

@@include("_sprite.svg")
<script src="common.js?v=0"></script> 
</body> 
</html>