<header class="header @@if(this.mod){header_@@mod}">
	<div class="header__inner container">
		<button class="header__toggle">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="header__navi">
			<button class="header__close">
				<svg><use xlink:href="#close"></use></svg>
			</button>
			<nav class="header__menu">
				<a class="header__link" href="./">Главная</a>
				<a class="header__link" href="./">О фестивале</a>
				<a class="header__link" href="./">Артисты</a>
				<a class="header__link" href="./">Программа</a>
				<a class="header__link" href="./">Как добраться</a>
				<a class="header__link" href="./">Новости</a>
				<a class="header__link" href="./">Организаторы</a>
			</nav>
			<div class="header__socials">
				<a class="header__soc" href="./">TG</a>
				<a class="header__soc" href="./">VK</a>
			</div>
		</div>
	</div>
</header>