<header class="header">
	<button class="header__toggle">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<div class="header__navi">
		<button class="header__close">
			<svg><use xlink:href="#close"></use></svg>
		</button>
		<nav class="header__menu">
			<a class="header__link" href="./">Главная</a>
			<a class="header__link" href="./#about">О фестивале</a>
			<a class="header__link" href="./#artists">Артисты</a>
			<a class="header__link" href="./#program">Программа</a>
			<a class="header__link" href="./#location">Карта фестиваля</a>
			<a class="header__link" href="./#howto">Как добраться и где жить</a>
			<a class="header__link" href="./news.html">Новости</a>
			<a class="header__link" href="./#sponsor">Организаторы и партнеры</a>
			<a class="header__link" href="#contact">Контакты</a>
		</nav>
		<!-- <div class="header__socials">
			<a class="header__soc" href="./">TG</a>
			<a class="header__soc" href="./">VK</a>
		</div> -->
	</div>
</header>