@use 'lib' as *;

.posts {
	$self: &;
	padding: 110px 0;
	position: relative;

	&__decor {

		&_1 {
			width: 185px;
			left: -95px;
			top: 340px;
		}

		&_2 {
			width: 130px;
			left: 0px;
			top: 435px;
		}

		&_3 {
			width: 350px;
			right: -90px;
			top: 430px;
		}

		&_4 {
			width: 220px;
			right: -40px;
			top: 520px;
		}

		&_5 {
			width: 140px;
			left: 70px;
			top: 760px;
		}

		&_6 {
			width: 205px;
			right: -50px;
			top: calc(50% - 115px);
		}

		&_7 {
			width: 290px;
			left: -140px;
			top: calc(50% - 35px);
		}

		&_8 {
			width: 80px;
			left: 100px;
			top: calc(50% + 110px);
		}

		&_9 {
			width: 120px;
			right: 65px;
			top: calc(50% + 225px);
		}

		&_10 {
			width: 275px;
			right: -210px;
			bottom: 420px;
		}

		&_11 {
			width: 140px;
			right: 60px;
			bottom: 495px;
		}

		&_12 {
			width: 325px;
			right: -160px;
			bottom: 205px;
		}

		&_13 {
			width: 175px;
			bottom: 295px;
			left: 45px;
		}

		&_14 {
			width: 320px;
			bottom: 55px;
			left: -100px;
		}
	}
	
	@include media('<=xxs') {
		padding: 100px 0 30px;
	}

	&__title.title {
		background-color: #0e396c;
	}

	&__inner {
		&.container {
			--container: 1260px;
		}
	}

	&__items {
		padding: 60px 0 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 60px 36px;
		
		@include media('<=xlg') {
			grid-gap: 40px 24px;
		}
		
		@include media('<=lg') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=md') {
			grid-gap: 16px;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
			padding: 35px 0 0;
		}
	}

	&__item {

		&.card2 {
			@include media('>lg') {
				&:nth-child(3n + 1) {
					align-items: flex-end;
				}
				
				&:nth-child(3n) {
					align-items: flex-start;
				}
			}
		}
	}

	&__pagination {

	}
}