@use 'lib' as *;

.posts {
	$self: &;
	padding: 110px 0;
	position: relative;
	
	@include media('<=xxs') {
		padding: 100px 0 30px;
	}

	&__decor {

		&_1 {
			width: 185px;
			right: calc(50% + 860px);
			top: 340px;
		}
		
		&_2 {
			width: 130px;
			right: calc(50% + 820px);
			top: 435px;
		}
		
		&_3 {
			width: 350px;
			left: calc(50% + 690px);
			top: 430px;
		}
		
		&_4 {
			width: 220px;
			left: calc(50% + 770px);
			top: 520px;
		}
		
		&_5 {
			width: 140px;
			right: calc(50% + 740px);
			top: 760px;
		}
		
		&_6 {
			width: 205px;
			left: calc(50% + 790px);
			top: calc(50% - 115px);
		}
		
		&_7 {
			width: 290px;
			right: calc(50% + 800px);
			top: calc(50% - 35px);
		}
		
		&_8 {
			width: 80px;
			right: calc(50% + 770px);
			top: calc(50% + 110px);
		}
		
		&_9 {
			width: 120px;
			left: calc(50% + 770px);
			top: calc(50% + 225px);
		}
		
		&_10 {
			width: 275px;
			left: calc(50% + 890px);
			bottom: 420px;
		}
		
		&_11 {
			width: 140px;
			left: calc(50% + 750px);
			bottom: 495px;
		}
		
		&_12 {
			width: 325px;
			left: calc(50% + 780px);
			bottom: 205px;
		}
		
		&_13 {
			width: 175px;
			bottom: 295px;
			right: calc(50% + 730px);
		}
		
		&_14 {
			width: 320px;
			bottom: 55px;
			right: calc(50% + 730px);
		}
	}

	&__title.title {
		background-color: #0e396c;
	}

	&__inner {
		&.container {
			--container: 1260px;

			@include media('<=xxs') {
				width: 100%;
			}
		}
	
	}

	&__items {
		padding: 60px 0 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 60px 36px;
		
		@include media('<=xlg') {
			grid-gap: 40px 24px;
		}
		
		@include media('<=lg') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=md') {
			grid-gap: 16px;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
			padding: 35px 0 0;
		}
	}

	&__item {

		&.card2 {
			@include media('>lg') {
				&:nth-child(3n + 1) {
					align-items: flex-end;
				}
				
				&:nth-child(3n) {
					align-items: flex-start;
				}
			}
		}
	}

	&__pagination {

	}
}