@use 'lib' as *;

.wave {
	$self: &;
	display: flex;
	animation-delay: 1s;

	@keyframes marquee {
		from { transform: translateX(-100%); }
		to { transform: translateX(0%); }
	}

	&__part {
		display: flex;
		flex-shrink: 0;
		will-change: transform;
		animation: marquee 20s linear infinite;
		width: calc(var(--vw, 1dvw) * 100);

		@include media('<=xs') {
			animation-duration: 10s;
		}
	}
}