@use 'lib' as *;

.hero {
	$self: &;
	background: url('./images/hero-image-1.webp') top center / cover no-repeat transparent;
	height: 100vh;
	height: 100svh;
	position: relative;
	min-height: 780px;
	
	@include media('<=xxlg') {
		min-height: 680px;
	}
	
	@include media('<=xlg') {
		min-height: 720px;
	}
	
	@include media('<=lg') {
		min-height: 620px;
	}
	
	@include media('<=md') {
		min-height: 560px;
	}
	
	@include media('<=sm') {
		min-height: 500px;
	}

	@include media('<=xs') {

	}

	&__decor {

		@include media('<=lg') {
			display: none;
		}

		&_1 {
			width: 500px;
			right: calc(50% + fluid(610px, 370px, xxxxlg, xxlg));
			top: 145px;
		}
		
		&_2 {
			width: 315px;
			bottom: 160px;
			left: calc(50% + fluid(620px, 420px, xxxxlg, xxlg));
		}
		
		&_3 {
			width: 190px;
			left: calc(50% - fluid(425px, 250px, xxxxlg, xxlg));
			top: -45px;
		}
		
		&_4 {
			width: 130px;
			right: calc(50% + fluid(700px, 460px, xxxxlg, xxlg));
			top: 350px;
		}

		&_5 {
			width: 405px;
			left: calc(50% + fluid(775px, 580px, xxxxlg, xxlg));
			bottom: -60px;
		}
	}

	&__inner {
		height: 100%;
		position: relative;
		display: flex;
		flex-flow: column nowrap;

		@include media('<=xxs') {
			padding: 50px 0;
		}

		&.container {
			--container: 1720px;
		}
	}

	&__slider.swiper {
		max-width: 100%;
		position: absolute;
		overflow: hidden;
		inset: 0;
	}
	
	&__slide.swiper-slide {
		
		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__head {
		z-index: 5;
		clip-path: polygon(3% 12%, 41% 0, 88% 5%, 100% 28%, 98% 90%, 67% 100%, 5% 95%, 0 64%);
		background-color: #5595a4;
		pointer-events: none;
		position: absolute;
		width: 720px;
		top: 80px;
		right: calc(fluid(50px, 0px, xxxxlg, xxxlg) * -1);
		width: fluid(720px, 500px, xxxxlg, xxlg);
		
		@include media('<=xxlg') {
			width: fluid(500px, 400px, xxxlg, xlg);
			right: 30px;
			top: 55px;
		}
		
		@include media('<=xlg') {
			width: fluid(400px, 360px, xlg, lg);
			right: 70px;
			top: 90px;
		}
		
		@include media('<=lg') {
			width: fluid(360px, 290px, lg, md);
			right: 48px;
			top: 67px;
		}
		
		@include media('<=md') {
			width: fluid(290px, 250px, md, sm);
			right: 20px;
			top: 40px;
		}
		
		@include media('<=sm') {
			width: fluid(250px, 230px, sm, xs);
			right: 20px;
			top: 40px;
		}
		
		@include media('<=xs') {
			width: fluid(230px, 180px, xs, xxs);
			right: 10px;
			top: 40px;
		}
		
		@include media('<=xxs') {
			width: fluid(180px, 130px, xxs, xxxs);
			right: 0px;
			top: 20px;
		}
		
		@include media('<=xxxs') {
			right: 0px;
			top: 15px;
		}
	}

	&__come.come {
		position: absolute;
		right: 16.5%;
		bottom: 10%;
		z-index: 1;
		
		@include media('<=xxlg') {
			bottom: 20%;
			right: 20%;
			max-width: 240px;
			font-size: 25px;
		}
		
		@include media('<=lg') {
			max-width: 240px;
			font-size: 25px;
			right: 5%;
			
		}
		
		@include media('<=md') {

		}

		@include media('<=sm') {
			position: static;
			margin: auto auto 10%;
		}

		@include media('<=xxs') {
			max-width: 200px;
			font-size: 20px;
		}
	}

	&__motive {
		pointer-events: none;
		position: absolute;
		z-index: 5;
		bottom: 0;
		left: 0;

		@include media('<=sm') {
			display: none;
		}
		
		span {
			display: block;
			color: #fff;
			font-size: fluid(250px, 140px, xxxlg, sm);
			text-transform: uppercase;
			line-height: 0.7;

			@include media('>sm') {
				opacity: 0;

				&.run {
					animation-fill-mode: forwards;
					animation-duration: 1.0s;
						
					@for $i from 1 through 3 {
						&:nth-child(#{$i}) {
							animation-name: slideInRight;
							animation-delay: #{$i * 0.2}s;
						}
					}
				}
			}
			
			&:nth-child(1) {
				font-weight: 300;
			}
			
			&:nth-child(2) {
				font-weight: 700;
			}
			
			&:nth-child(3) {
				font-weight: 300;
			}
		}
	}
}