@use 'lib' as *;

.hero {
	$self: &;
	background: url('./images/hero-bg.webp') top center / cover no-repeat transparent;
	height: calc(var(--vh, 1dvh) * 100);

	@include media('<=xs') {
		background-position: top left calc(50% - 200px);
	}

	&__inner {
		position: relative;
		height: 100%;
		display: flex;
		align-items: flex-end;
		flex-flow: column nowrap;
		justify-content: space-around;

		@include media('<=xxs') {
			padding: 50px 0;
		}

		&.container {
			--container: 1720px;
		}
	}

	&__head {
		clip-path: polygon(3% 12%, 41% 0, 88% 5%, 100% 28%, 98% 90%, 67% 100%, 5% 95%, 0 64%);
		background-color: #5595a4;
		max-width: 100%;
		width: 720px;

		@include media('>xxxlg') {
			translate: 50px -20px;
		}
	}

	&__come.come {
		margin-right: 16.5%;
		z-index: 1;
		
		@include media('<=xlg') {
			translate: 0 -100px;
		}
		
		@include media('<=lg') {
			margin-right: 10%;
		}
		
		@include media('<=md') {
			margin-right: 0;
		}

		@include media('<=sm') {
			translate: unset;
			margin: 0 auto;
		}

		@include media('<=xxs') {
			max-width: 200px;
			font-size: 20px;
		}
	}

	&__motive {
		position: absolute;
		bottom: 0;
		left: 0;

		@include media('<=sm') {
			display: none;
		}
		
		span {
			display: block;
			color: #fff;
			font-size: fluid(250px, 165px, xxxlg, sm);
			text-transform: uppercase;
			line-height: 0.7;
			
			&:nth-child(1) {
				font-weight: 300;
			}
			
			&:nth-child(2) {
				font-weight: 700;
			}
			
			&:nth-child(3) {
				font-weight: 300;
			}
		}
	}
}