@use 'lib' as *;

.footer {
	$self: &;
	padding: 185px 0 115px;
	background: url('./images/waves-down.svg') center top -1px / 14.5% auto repeat-x #0e396c;
	position: relative;
	color: #fff;

	@include media('<=xxs') {
		background-size: 70px auto;
	}

	&__dancer {
		position: absolute;
		z-index: 4;
		right: fluid(75px, 5px, xxxxlg, xs);
		width: fluid(125px, 80px, xxxxlg, xs);
		bottom: calc(100% - 5px);

		@include media('<=xs') {
			display: none;
		}
	}
	
	@include media('<=xs') {
		padding: 130px 0 50px;
	}

	&__cols {
		display: flex;
		justify-content: space-between;
		gap: 24px;

		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}

	&__col {
		display: flex;
		flex-flow: column nowrap;
		gap: 22px;
		
		&_social {
			justify-content: space-around;
			align-items: flex-end;
			padding-top: 6px;
			max-width: 170px;
			width: 100%;
			
			@include media('<=lg') {
				max-width: none;
				width: auto;
			}
			
			@include media('<=sm') {
				align-items: center;
				flex-flow: row nowrap;
				justify-content: flex-start;
				gap: 24px;
			}
		}
	}

	&__item {

	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	&__link {
		color: #5796a4;
		font-weight: 300;
		font-size: 15px;
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
	}

	&__num {
		font-size: 33px;
		font-weight: 700;
		margin-top: auto;

		@include media('<=sm') {
			margin: 0 0 0 auto;
		}
	}
}