@use 'lib' as *;

.program {
	$self: &;
	background-color: #cbedf3;

	&__title.title {
		background-color: #5796a4;
	}

	&__items {
		padding: 60px 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		
		&.container {
			max-width: 1140px;
		}

		&_bottom {
			#{$self}__time {
				padding-top: 30px;
			}
		}
	}

	&__item {
		padding: 0 30px;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		position: relative;
		aspect-ratio: 1;
		gap: 24px;

		&::before {
			display: none;
			content: '';
			border: 2px solid #5796a4;
			pointer-events: none;
			position: absolute;
			inset: 0;
		}
		
		&_round::before {
			display: block;
			border-radius: 1000px;
		}

		&_rect::before {
			display: block;
		}
		
		&_corner {
			&::before {
				display: block;
				border-bottom: none;
				border-left: none;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 141%;
				height: 2px;
				background: #5796a4;
				transform: rotate(45deg);
				transform-origin: top left;
			}
		}

		&_button::before {
			display: block;
			border: none;
			background-color: #f70000;
			border-radius: 1000px;
		}
	}

	&__time {
		color: #0e396c;
		font-weight: 700;
		font-size: 25px;
		text-align: center;
		padding-top: 70px;
	}
	
	&__text {
		font-size: 19px;
		text-align: center;
		font-weight: 300;
		color: #000;
	}

	&__subtitle.title {
		color: #f70000;
	}
}