@use 'lib' as *;

.program {
	$self: &;
	position: relative;
	background-color: #cbedf3;

	&__decor {

		@include media('<=lg') {
			display: none;
		}
		
		&_1 {
			width: 370px;
			right: calc(50% + 690px);
			top: 385px;
		}

		&_2 {
			width: 360px;
			left: calc(50% + 620px);
			top: 505px;
		}
		
		&_3 {
			width: 255px;
			right: calc(50% + 645px);
			bottom: -25px;
		}
	}

	&__wave {
		position: absolute;
		z-index: 1;
		left: 0;
		width: 100%;

		&_top {
			bottom: 100%;			
		}
		
		&_bottom {
			bottom: 0;
		}
	}
	
	&__title.title {
		background-color: #5796a4;
	}
	
	&__items {
		padding: 60px 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		
		@include media('<=lg') {
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
			padding: 35px 0;
		}
		
		&.container {

			@include media('<=xxs') {
				--container: 300px;
			}
		}
		
		&_bottom {
			padding: 20px 0 125px;
			
			@include media('<=md') {
				padding: 20px 0 60px;
			}
			
			@include media('<=xxs') {
				padding: 0 0 35px;
			}

			#{$self}__item {

				@include media('<=xs') {
					padding: 0 20px;
				}

				@include media('<=xxs') {
					gap: 16px;
				}
				
				&:last-child {
					@include media('<=md', '>sm') {
						grid-column: 2;
					}
				}

				h3 {
					padding-top: 30px;
					
					@include media('<=lg') {
						padding-top: fluid(70px, 30px, lg, md);
					}
					
					@include media('<=sm') {
						padding-top: fluid(70px, 30px, sm, xs);
					}

					@include media('<=xxs') {
						padding: 0;
					}
				}
				
				p {
					@include media('<=sm') {
						font-size: fluid(20px, 13px, sm, xs);
					}

					@include media('<=xxs') {
						font-size: fluid(18px, 15px, xxs, xxxs);
					}
				}
			}
		}
	}

	&__item {
		margin: 0 -1px -2px;
		padding: 0 30px;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		grid-column: span 1;
		position: relative;
		aspect-ratio: 1;
		gap: 24px;

		@include media('<=xxs') {
			justify-content: center;
		}

		&::before {
			display: none;
			content: '';
			border: 2px solid #5796a4;
			pointer-events: none;
			position: absolute;
			inset: 0;
		}
		
		&_round::before {
			display: block;
			border-radius: 1000px;
		}

		&_rect::before {
			display: block;
		}
		
		&_corner {

			@include media('<=lg') {
				display: none;
			}

			@include media('<=sm') {
				display: block;
			}

			@include media('<=xxs') {
				display: none;
			}

			&::before {
				display: block;
				border-bottom: none;
				border-left: none;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 141%;
				height: 2px;
				background: #5796a4;
				transform: rotate(45deg);
				transform-origin: top left;
			}
		}

		&_come {
			
			&.come {
				max-width: none;
				font-size: fluid(28px, 26px, xlg, lg);
				
				@include media('<=lg') {
					font-size: fluid(28px, 22px, lg, md);
					grid-column: 2;
				}
				
				@include media('<=sm') {
					font-size: fluid(28px, 20px, sm, xxs);
					gap: fluid(24px, 16px, sm, xxs);
					grid-column: auto;
				}
				
				@include media('<=xxs') {
					font-size: fluid(30px, 26px, xxs, xxxs);
				}
				
				span {
					@include media('<=xxs') {
						font-size: fluid(17px, 14px, xxs, xxxs);
					}
				}
			}
		}
	
		h3 {
			color: #0e396c;
			font-weight: 700;
			padding-top: 70px;
			text-align: center;
			font-size: fluid(25px, 24px, xlg, lg);
			
			@include media('<=lg') {
				font-size: fluid(25px, 22px, lg, md);
				padding-top: fluid(80px, 60px, lg, md);
			}
			
			@include media('<=sm') {
				padding-top: fluid(100px, 50px, sm, xxs);
				font-size: fluid(25px, 22px, sm, xxs);
			}
			
			@include media('<=xxs') {
				font-size: fluid(30px, 28px, xxs, xxxs);
				padding: 0;
			}
		}
		
		p {
			font-size: fluid(19px, 17px, xlg, lg);
			text-align: center;
			font-weight: 300;
			color: #000;

			@include media('<=lg') {
				font-size: fluid(19px, 16px, lg, md);
			}
			
			@include media('<=sm') {
				font-size: fluid(20px, 14px, sm, xxs);
			}
			
			@include media('<=xxs') {
				font-size: fluid(18px, 16px, xxs, xxxs);
			}
		}
	}

	&__subtitle.title {
		position: relative;
		color: #f70000;
		margin-bottom: 50px;

		span {
			@include media('<=lg') {
				position: absolute;
				line-height: 1.0;
				top: 100%;
				z-index: 1;
			}
		}
	}
}