@use 'lib' as *;

.card2 {
	$self: &;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	@include media('<=xxs') {
		&:nth-child(even) {
			
			#{$self}__body::before {
				left: auto;
				right: 0;
			}
		}
	}

	&__image {
		width: 100%;
		height: 235px;
		
		@include media('<=xs') {
			height: 200px;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__body {
		position: relative;
		background-color: #cbedf3;
		width: calc(100% - 60px);
		padding: 40px 40px 23px;
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		
		@include media('<=xlg') {
			padding: fluid(30px, 16px, xlg, md);
		}

		@include media('<=md') {
			width: 100%;
		}
		
		&::before {
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			content: '';
			background-color: #cbedf3;
			width: fluid(70px, 45px, xlg, sm);
			aspect-ratio: 1.15;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		color: #000;
		
		@include media('<=md') {
			font-size: fluid(20px, 17px, md, xs);
		}
		
		@include media('<=xxs') {
			font-size: fluid(19px, 16px, xxs, xxxs);
		}
	}
	
	&__text {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 20px;
		
		@include media('<=md') {
			font-size: fluid(20px, 15px, md, xs);
		}

		@include media('<=xxs') {
			font-size: fluid(17px, 15px, xxs, xxxs);
		}
	}
	
	&__date {
		margin-top: auto;
		font-weight: 700;
		color: #000;
	}
}