@use 'lib' as *;

.howto {
	$self: &;
	background: url('./images/waves-up.svg') center bottom -20px / 14.5% auto repeat-x #fad2db;
	// background-size: fluid(270px, 100px, xxxxlg, xxs);
	position: relative;

	@include media('<=xlg') {
		background-position: center bottom -15px;
	}

	@include media('<=lg') {
		background-position: center bottom -10px;
	}

	@include media('<=md') {
		background-position: center bottom -5px;
	}

	@include media('<=xxs') {
		background-size: 70px auto;
	}

	&__decor {
		
		@include media('<=lg') {
			display: none;
		}

		&_1 {
			width: fluid(290px, 220px, xxxxlg, xxlg);
			right: calc(50% + fluid(730px, 500px, xxxxlg, xxlg));
			top: 304px;
		}
		
		&_2 {
			width: fluid(95px, 80px, xxxxlg, xxlg);
			right: calc(50% + fluid(780px, 550px, xxxxlg, xxlg));
			bottom: 0px;
		}
		
		&_3 {
			width: fluid(550px, 460px, xxxxlg, xxlg);
			left: calc(50% + fluid(500px, 340px, xxxxlg, xxlg));
			bottom: 120px;
		}
	}

	&__title.title {
		position: relative;
		
		&::before {
			background-color: #ef5899;
		}
		
		span {
			z-index: 1;
			color: #fff;
			margin: -15px 0;
			font-size: fluid(50px, 26px, xxxlg, lg);
			
			@include media('<=md') {
				font-size: fluid(26px, 18px, md, sm);
			}
			
			@include media('<=sm') {
				font-size: fluid(18px, 16px, sm, xxxs);
			}
			
			@include media('<=xs') {
				color: #ef5899;
				position: absolute;
				line-height: 0.7;
				margin: 0;
				top: 100%;
				z-index: 1;

				br {
					display: none;
				}
			}
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 60px 0 120px;
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
			padding: 60px 0;
		}
		
		@include media('<=xs') {
			padding: 65px 0 60px;
		}

		@include media('<=xxs') {
			grid-template-columns: 1fr;
			padding: 45px 0 35px;
		}
		
		&.container {
			--container: 860px;

			@include media('<=xxs') {
				--container: 300px;
			}
		}
	}

	&__item {
		margin: 0 -1px -2px;
		padding: 0 fluid(50px, 15px, md, sm);
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		position: relative;
		aspect-ratio: 1;
		gap: 20px;
				
		@include media('<=sm') {
			padding: 0 fluid(50px, 20px, sm, xxs);
		}

		@include media('<=xxs') {
			justify-content: center;
		}

		&::before {
			display: none;
			content: '';
			border: 2px solid #ef5899;
			pointer-events: none;
			position: absolute;
			inset: 0;
		}
		
		&_round::before {
			display: block;
			border-radius: 1000px;
		}

		&_rect::before {
			display: block;
		}

		&_come {

			&.come {
				font-size: fluid(28px, 24px, md, sm);
				max-width: none;
				
				@include media('<=sm') {
					font-size: fluid(28px, 20px, sm, xxs);
				}
				
				@include media('<=xxs') {
					font-size: fluid(30px, 26px, xxs, xxxs);
				}
				
				span {
					@include media('<=xxs') {
						font-size: fluid(17px, 14px, xxs, xxxs);
					}
				}
			}
		}

		h3 {
			padding-top: 40px;
			text-align: center;
			color: #ef5899;
			font-weight: 700;
			font-size: fluid(20px, 18px, md, sm);
				
			@include media('<=sm') {
				font-size: fluid(22px, 17px, sm, xxs);
				padding-top: fluid(100px, 40px, sm, xxs);
			}
			
			@include media('<=xxs') {
				font-size: fluid(22px, 20px, xxs, xxxs);
				padding: 0;
			}
		}
		
		p {
			color: #000;
			text-align: center;
			font-size: fluid(15px, 13px, md, sm);
				
			@include media('<=sm') {
				font-size: fluid(15px, 11px, sm, xxs);
			}
			
			@include media('<=xxs') {
				font-size: fluid(15px, 13px, xxs, xxxs);
			}
		}
	}
}