@use 'lib' as *;

.post {
	$self: &;
	background: url('./images/post-top-waves.svg') top center / 14.5% auto repeat-x transparent;
	// background-size: fluid(270px, 100px, xxxxlg, xxs);
	position: relative;
	padding-top: fluid(200px, 100px);
	padding-bottom: 60px;
	
	@include media('<=md') {
		padding-bottom: 20px;
	}
	
	@include media('<=xxs') {
		padding-bottom: 5px;
	}

	@include media('<=xxs') {
		background-size: 70px auto;
	}

	&__decor {

		@include media('<=lg') {
			display: none;
		}

		&_1 {
			width: fluid(185px, 160px, xxxxlg, xxlg);
			right: calc(50% + fluid(860px, 620px, xxxxlg, xxlg));
			top: 340px;
		}
		
		&_2 {
			width: fluid(130px, 100px, xxxxlg, xxlg);
			right: calc(50% + fluid(820px, 600px, xxxxlg, xxlg));
			top: 435px;
		}
		
		&_3 {
			width: fluid(350px, 300px, xxxxlg, xxlg);
			left: calc(50% + fluid(690px, 530px, xxxxlg, xxlg));
			top: 430px;
		}
		
		&_4 {
			width: fluid(220px, 180px, xxxxlg, xxlg);
			left: calc(50% + fluid(770px, 580px, xxxxlg, xxlg));
			top: 520px;
		}
		
		&_5 {
			width: fluid(140px, 120px, xxxxlg, xxlg);
			right: calc(50% + fluid(740px, 600px, xxxxlg, xxlg));
			top: 760px;
		}
		
		&_6 {
			width: 205px;
			left: calc(50% + fluid(790px, 580px, xxxxlg, xxlg));
			top: calc(50% - 115px);
		}
		
		&_7 {
			width: fluid(290px, 200px, xxxxlg, xxlg);
			right: calc(50% + fluid(800px, 600px, xxxxlg, xxlg));
			top: calc(50% - 35px);
		}
		
		&_8 {
			width: fluid(80px, 70px, xxxxlg, xxlg);
			right: calc(50% + fluid(770px, 600px, xxxxlg, xxlg));
			top: calc(50% + 110px);
		}
		
		&_9 {
			width: 120px;
			left: calc(50% + fluid(770px, 580px, xxxxlg, xxlg));
			top: calc(50% + 225px);
		}
		
		&_10 {
			width: fluid(275px, 200px, xxxxlg, xxlg);
			left: calc(50% + fluid(890px, 600px, xxxxlg, xxlg));
			bottom: 420px;
		}
		
		&_11 {
			width: fluid(140px, 110px, xxxxlg, xxlg);
			left: calc(50% + fluid(750px, 520px, xxxxlg, xxlg));
			bottom: 495px;
		}
		
		&_12 {
			width: fluid(325px, 250px, xxxxlg, xxlg);
			left: calc(50% + fluid(780px, 580px, xxxxlg, xxlg));
			bottom: 205px;
		}
		
		&_13 {
			bottom: 295px;
			width: fluid(175px, 150px, xxxxlg, xxlg);
			right: calc(50% + fluid(730px, 580px, xxxxlg, xxlg));
		}
		
		&_14 {
			bottom: 55px;
			width: fluid(320px, 240px, xxxxlg, xxlg);
			right: calc(50% + fluid(730px, 520px, xxxxlg, xxlg));
		}
	}

	&__inner {

		&.container {
			--container: 1260px;
		}
	}

	&__head {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 50px;
		
		@include media('<=lg') {
			margin-bottom: 40px;
		}
		
		@include media('<=md') {
			margin-bottom: 30px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 25px;
		}
	}

	&__title {
		color: #0e396c;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-weight: 700;
		font-size: fluid(67px, 24px);
		position: relative;
		z-index: 1;
	}

	&__intro {
		background-color: #cbedf3;
		max-width: 1140px;
		margin: -20px auto 0px;
		font-weight: 300;
		font-size: fluid(25px, 17px);
		padding: fluid(65px, 30px) fluid(80px, 20px);
		position: relative;
		
		&::after {
			display: block;
			content: '';
			aspect-ratio: 1.3;
			width: fluid(80px, 50px);
			background-color: #cbedf3;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}
	
	&__thumb {

		img {
			display: block;
		}
	}

	&__text {
		font-weight: 300;
		max-width: 980px;
		margin: 0 auto 60px;
		font-size: fluid(19px, 15px);
		
		@include media('<=lg') {
			margin-bottom: 50px;
		}
		
		@include media('<=md') {
			margin-bottom: 40px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: fluid(25px, 15px);
		}

		a {
			color: #0e396c;
		}
	}
	
	&__video {
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center right;
		position: relative;
		overflow: hidden;
		aspect-ratio: 1.69;
		margin-bottom: 60px;
		
		@include media('<=lg') {
			margin-bottom: 50px;
		}
		
		@include media('<=md') {
			margin-bottom: 40px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}
	}

	&__video-frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: url('./images/spinner.svg') center / auto 100px no-repeat transparent;

		@include media('<=sm') {
			background-size: auto 60px;
		}
	}

	&__video-play {
		@extend %reset-button;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		width: 105px;
		height: 105px;
		background: svg-url('<svg width="117" height="109" viewBox="0 0 117 109" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M113.946 46.4935C127.929 84.6374 90.5337 105.325 69.7284 108.446C48.9231 111.567 9.99921 101.794 2.23841 71.5927C-5.52239 41.3917 8.12143 17.473 24.3722 9.07993C40.6229 0.68688 90.274 -17.9199 113.946 46.4935Z" fill="#A0DEE8"/></svg>') center / contain no-repeat transparent;
		transform: translate(-50%, -50%);
		transition: background-color 0.3s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		
		@include media('<=sm') {
			width: 70px;
			height: 70px;
		}
	
		&::before {
			content: '';
			width: 0; 
			height: 0;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 36px solid #0e396c;
			margin-left: 5px;
			
			@include media('<=sm') {
				border-top-width: 18px;
				border-left-width: 30px;
				border-bottom-width: 18px;
			}
		}
	}

	&__image {
		margin-bottom: 60px;
		
		@include media('<=lg') {
			margin-bottom: 50px;
		}
		
		@include media('<=md') {
			margin-bottom: 40px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}
		
		img {
			display: block;
			width: 100%;
		}
		
		p {
			font-size: fluid(16px, 14px);
			font-weight: 400;
			max-width: 980px;
			padding-top: 5px;
			margin: 0 auto;
		}
	}
}
