@use 'lib' as *;

.header {
	$self: &;
	--max: 400px;
	padding-right: calc(var(--noscroll-target-scrollbar-width, 0px));
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;

	&__inner {

	}

	&__toggle {
		@extend %reset-button;
		display: flex;
		flex-flow: column nowrap;
		gap: 9px;

		&::before {
			display: block;
			content: '';
			width: 100px;
			aspect-ratio: 1;
			background: svg-url('<svg width="48" height="56" viewBox="0 0 48 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M47.4454 55.999L0 48.1309L0.561039 44.724L11.9065 46.6043C12.3995 44.977 12.8752 43.4008 13.3338 41.8756C18.1875 25.8052 21.3926 15.19 24.2322 8.83983C26.5021 3.76188 29.3503 -0.809358 34.7651 0.119983C39.5844 0.947981 40.3411 5.875 40.4399 11.0759C40.5646 17.5769 39.5952 27.7566 37.9873 44.6205C37.7981 46.6014 37.6011 48.6721 37.3961 50.8327L48 52.5922L47.4454 55.999ZM15.3329 47.1735L33.9955 50.2677C34.1933 48.192 34.3832 46.1996 34.5652 44.2906C36.1064 28.1188 37.1253 17.4454 37.0049 11.1427C36.8674 3.98397 35.2573 3.70797 34.1911 3.52469C32.4005 3.2185 30.3993 3.48372 27.3748 10.2522C24.6255 16.4018 21.4442 26.935 16.627 42.8783C16.2085 44.2669 15.7772 45.6987 15.3329 47.1735Z" fill="white"/></svg>') center / auto no-repeat #f70000;
			margin-bottom: 4px;
		}

		span {
			display: block;
			width: 100%;
			height: 9px;
			background-color: #f70000;
		}
	}

	&__navi {
		position: fixed;
		right: calc(var(--max) * -1);
		z-index: 12;
		top: 0;
		width: 100%;
		max-width: var(--max);
		height: calc(var(--vh, 1dvh) * 100);
		transition: right 0.4s ease-out;
		background-color: #0e396c;
		padding: 60px 0 20px 30px;
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
		font-size: 28px;
		
		&.opened {
			max-width: calc(var(--max) + calc(var(--noscroll-target-scrollbar-width, 0px)));
			right: 0;
		}
	}

	&__close {
		@extend %reset-button;
		position: absolute;
		height: 36px;
		width: 36px;
		top: 14px;
		left: 22px;
		z-index: 1;
		display: block;

		svg {
			display: block;
			fill: #fff;
			aspect-ratio: 1;
			width: 100%;
		}
	}

	&__menu {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		flex-grow: 1;
		gap: 10px;
	}

	&__link {
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		padding: 10px 0;

		&:hover {
			text-decoration: underline;
		}
	}

	&__socials {

	}

	&__soc {
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
}
