@use 'lib' as *;

.card1 {
	$self: &;
	position: relative;
	padding-bottom: 35px;
	
	@include media('<=sm') {
		padding: 0;
	}
	
	@include media('<=xs') {
		padding-bottom: 35px;
	}

	&::before {
		display: block;
		content: '';
		aspect-ratio: 1;
		width: 100%;
		background-color: #cbedf3;
		border-radius: 1000px;
		position: absolute;
		z-index: 0;
	}

	&__wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 30px;
	}

	&__image {
		width: 240px;
	}

	&__text {
		font-weight: 300;
		line-height: 1.1;
		color: #000;
	}
}