@use 'lib' as *;

.card1 {
	$self: &;
	position: relative;

	&::before {
		display: block;
		content: '';
		aspect-ratio: 1;
		width: 415px;
		background-color: #cbedf3;
		border-radius: 1000px;
		position: absolute;
		z-index: 0;
	}

	&__wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 40px;
	}

	&__image {
		max-width: 240px;
	}

	&__text {

	}
}